name: CI/CD Frontend

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            bbagustrm/kenbike-frontend:latest
            bbagustrm/kenbike-frontend:${{ github.sha }}
          build-args: |
            NEXT_PUBLIC_API_BASE_URL=${{ secrets.PROD_API_BASE_URL }}
            NEXT_PUBLIC_APP_URL=${{ secrets.PROD_APP_URL }}
            NEXT_PUBLIC_IMAGE_BASE_URL=${{ secrets.PROD_IMAGE_BASE_URL }}
            SKIP_ESLINT=true # <--- ARGUMEN BARU UNTUK MENONAKTIFKAN ESLINT

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          passphrase: ${{ secrets.VPS_SSH_PASSPHRASE }}
          port: 54321
          timeout: 60m
          command_timeout: 60m
          script: |
            cd /var/www/kenbike/frontend
            docker compose pull
            docker compose down
            docker compose up -d